altgraph==0.17.4
asn1crypto==1.5.1
cachetools==6.0.0
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
cryptography==45.0.4
cssselect==1.3.0
cssutils==2.11.1
et_xmlfile==2.0.0
idna==3.10
lxml==5.4.0
more-itertools==10.7.0
numpy==2.3.0
openpyxl==3.1.5
oscrypto==1.3.0
packaging==25.0
pandas==2.3.0
pefile==2023.2.7
pillow==11.2.1
premailer==3.10.0
pycparser==2.22
pyHanko==0.29.0
pyhanko-certvalidator==0.27.0
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
pyOpenSSL==25.1.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32-ctypes==0.2.3
PyYAML==6.0.2
reportlab==4.4.1
requests==2.32.4
setuptools==80.9.0
six==1.17.0
tzdata==2025.2
tzlocal==5.3.1
uritools==5.0.0
urllib3==2.4.0
yagmail==0.15.293
